<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
   
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="fixed-content">

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveProfile()">
      <div class="upperDiv">
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]"
               (change)="processWebImage($event)"/>
        <div class="profile-image-wrapper" >
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.image.value">
            <div>
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()"
               *ngIf="this.form.controls.image.value"></div>
        </div>

        <h3 class="full_name">{{profileDetails[0].full_name}}</h3>
        <h3 class="userDetails">{{profileDetails[0].about}}</h3>

       
        <ion-item no-lines (click)="openFollowing()" style="background: #16a085 !important;">
       
        </ion-item>
      </div>
      <ion-list style="padding: 20px !important; border-bottom: 0.55px solid #fff; !important;">
        <ion-item style="border-top: 0.55px solid #fff; !important;">
          <ion-label class="label_here">Student Name :</ion-label>
          <ion-input class="inputFields" type="text" formControlName="user_name" (keyup)="changedSmtng()"
                     disabled="{{isDisabled}}"
                     [(ngModel)]="profileDetails[0].full_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label_here">Email :</ion-label>
          <ion-input class="inputFields" type="email" formControlName="user_email" (keyup)="changedSmtng()"
                     disabled="{{isDisabled}}"
                     [(ngModel)]="account.user_email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label_here">Password :</ion-label>
          <ion-input class="inputFields" type="password" formControlName="user_password" (keyup)="changedSmtng()"
                     disabled="{{isDisabled}}"
                     [(ngModel)]="account.user_password"></ion-input>
        </ion-item>


      </ion-list>
    </form>
  </div>
</ion-content>

